name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: set up git repository
        uses: actions/checkout@v2

      - name: run tests
        run: |
          awk --version
          make --version
          make test utest
          make test utest AWK_FLAGS=--posix
          yes | make test utest AWK=mawk
          yes | make test utest AWK=nawk
          yes | make test utest AWK=wak
          yes | make test utest AWK=goawk
