name: CI

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: set up git repository
        uses: actions/checkout@v2

      - name: run tests
        run: |
          awk --version
          make --version
          make test
          make test AWK_FLAGS=--posix
          yes | make test AWK=mawk
          yes | make test AWK=nawk
          yes | make test AWK=wak
          yes | make test AWK=goawk
          make utest AWK=awk
          make utest AWK=mawk
          make utest AWK=nawk
          make utest AWK=wak
          make utest AWK=goawk
